{% load bootstrap4 %}
{% block content %}

<div class="w-form">
    <form action="{% url 'commentapp:create' %}" method="post" enctype="multipart/form-data" id="wf-form-commnet-form" name="wf-form-commnet-form" data-name="commnet form">
        {% csrf_token %}
        <textarea style="width: 400px;" required id="id_content" name="content" maxlength="5000" id="field" placeholder="댓글을 써주세요!" class="w-input"></textarea>
        <div class="blog1-button-wrap">
            {% if target_post.type == 'notice' %}
            <input type="submit" class="btn btn-dark rounded-pill px-4" value="Submit -&gt;" data-wait="Please wait..." class="submit-button-2 button-small notice w-button">
            {% elif target_post.type == 'data' %}
            <input type="submit" class="btn btn-dark rounded-pill px-4" value="Submit -&gt;" data-wait="Please wait..." class="submit-button-2 button-small notice green w-button">
            {% elif target_post.type == 'board' %}
            <input type="submit" class="btn btn-dark rounded-pill px-4" value="Submit -&gt;" data-wait="Please wait..." class="submit-button-2 button-small notice blue w-button">

            {% else %}
            comment의 create.html을 수정해주세요!
            {% endif %}
            <input type="hidden" name="board_pk" value="{{board.pk}}">
        </div>
    </form>
</div>
{% endblock %}