{% load bootstrap4 %}



{#<div class="list_content">#}
{#    <img src="{{ course.image.url }}" alt="">#}
{#</div>#}
{#<div>#}
{#    <h4>#}
{#        {{ course.title }}#}
{#    </h4>#}
{#</div>#}
{#<div>#}
{#    <h6>#}
{#        {{ course.writer.profile.name | safe }}#}
{#    </h6>#}
{#</div>#}

<div class="card" style="width: 300px; display: flex;
    margin-right: 20px;">
  <img src="{{ course.image.url }}" alt="" style="width: 100%;" >
  <div class="card-body">
    <h5 class="card-title">{{ course.title }}</h5>
    <p class="card-text">{{ course.writer.profile.name | safe }}</p>
{#    <a href="#" class="btn btn-primary">Go somewhere</a>#}
  </div>
</div>
