
<style>

    .container {
      padding: 0;
      margin: 0, auto;
    }

     .container a {
      width: 45%;
      max-width: 250px;
    }

    .container div {
      display: flex;
      justify-content: center;
      align-items: center;
        width: 100%;
    }

    .container img {
      {#width: 30%;#}
        width: 30%;
    }

</style>

{% load static %}

  {% if course_list %}
    {% for course in course_list %}
      <div class="container" style="margin: 2rem auto;">
        <a href="{% url 'courseapp:detail' pk=course.pk %}">
          <img src="{{ course.image.url }}" alt=""> <br>
          {{ course.title }}
        </a>
      </div>
    {% endfor %}

  {% else %}
  <div class="text-center">
    <h1>No course YET!</h1>
  </div>
  {% endif %}
