<div class="footer">
    <div style="margin-top: 1rem;">
        <span class="logo">Whiteboard</span>
    </div>

    <div class="footer_button">
        <a href="#" class="footer_link"><strong>About Whiteboard</strong></a>|
        <a href="#" class="footer_link">Privacy Policy</a>|
        <a href="#" class="footer_link">Help</a>|
        <a href="#" class="footer_link">Business</a>
        <br>
        <span>
            <a>©Korea Univ.  </a>&nbsp;
            <a>지현</a>
            <a>이슬</a>
            <a>빈경</a>
        </span>
    </div>

</div>