{% load static %}
{% load bootstrap4 %}
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    {#width: 200px;#} width: 100%;
        height: 100%;
    {#background-color: #f1f1f1;#} background-color: #7d0019;
    }

    li a {
        display: block;
        color: white;
        padding: 8px 16px;
        text-decoration: none;

    }

    li a.active {
        background-color: #4CAF50;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
</style>

<div class="header">
    <ul>
        <div style="height: 80px; line-height: 80px;">
            <a class="logo_box" href="{% url 'courseapp:list' %}" style="justify-content: center">
                <span class="logo big">Whiteboard</span>
            </a>
        </div>
        <div style="height: 3px; background-color: black;"></div>



        {% if not user.is_authenticated %}
            <li style="height: 50px; line-height: 50px;"><a href="{% url 'accountapp:login' %}?next={{ request.path }}">로그인</a>
            </li>
        {% else %}
{#            <img style="display: inline-block; width: 50px; height: 50px;"#}
{#                                                              src="https://pngset.com/images/white-google-alerts-icon-free-white-google-icons-notification-icon-white-stencil-symbol-silhouette-star-symbol-transparent-png-2905773.png"#}
{#                                                              alt=""> #}
            <li style="height: 50px; line-height: 50px;"><a href="#">안내페이지</a></li>
            <li style="height: 50px; line-height: 50px;"><a
                    href="{% url 'accountapp:detail' pk=user.pk %}">.{{ user.profile.name }}</a></li>
            <li style="height: 50px; line-height: 50px;"><a href="#">활동 스트림</a></li>
            <li style="height: 50px; line-height: 50px;"><a href="{% url 'courseapp:list' %}">코스</a></li>

            {% if user.profile.get_personnel_display == '교수' %}
                <li style="height: 50px; line-height: 50px;"><a href="{% url 'courseapp:create' %}">강의등록</a></li>
            {% elif user.profile.get_personnel_display == '학부생' %}
                <li style="height: 50px; line-height: 50px;"><a href="{% url 'courseapp:signup' %}">수강신청</a></li>
            {% endif %}

            <li style="height: 50px; line-height: 50px;"><a href="#">캘린더</a></li>
            <li style="height: 50px; line-height: 50px;"><a href="#">메세지</a></li>
            <li style="height: 50px; line-height: 50px;"><a href="#">성적</a></li>
            <li style="height: 50px; line-height: 50px;"><a
                    href="{% url 'accountapp:logout' %}?next={{ request.path }}">로그아웃</a></li>

        {% endif %}
    </ul>
</div>