{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div>
    <div style="text-align:center; max-width:500px; margin: 4rem auto">
        <img src="{{target_course.image.url}}" alt=""
        style=" width: 15rem; height: 10rem; object-fit: cover; border-radius: 1.5rem; margin-bottom: 0.5rem;">

       <h2>
           {{ target_course.title }}
       </h2>

        <h5>
            {{ target_course.writer.profile.name }}
        </h5>

        <div class="text-center mb-5">

            {% if user.is_authenticated and user.profile.get_personnel_display == '학부생' %}
                {% if not join %}
                <a href="{% url 'joinapp:join' %}?course_pk={{ target_course.pk }}"
                    class="btn btn-primary rounded-pill px-4">
                    수강
                </a>
                {% else %}

<!--                <a href="{% url 'joinapp:join' %}?course_pk={{ target_course.pk }}"-->
<!--                    class="btn btn-dark rounded-pill px-4">-->
<!--                    수강취소-->
<!--                </a>-->
                {% endif %}
            {% endif %}

        </div>

    <hr>

        <div style="text-align: center; font-size: 1.2rem; ">

                 <a href="{% url 'boardapp:notice'%}?course_pk={{ course.pk }}" style="margin: 0 3rem;">
                    <span>공지사항</span>
                </a>
                <a href="{% url 'boardapp:data' %}?course_pk={{ course.pk }}" style="margin: 0 3rem;">
                    <span>강의자료</span>
                </a>
                <a href="{% url 'boardapp:board' %}?course_pk={{ course.pk }}" style="margin: 0 3rem;">
                    <span>게시판</span>
                </a>
        </div>



        <hr>
        <a href="{% url 'courseapp:list' %}">
            <p>다른 수업 보기</p>
        </a>
    </div>
</div>
{% endblock %}