{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if user.profile.get_personnel_display == '교수' %}
      <div style="text-align: center">
        <a href="{% url 'courseapp:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
          Create course
        </a>
      </div>

        {% if course_list %}
            <div class="container">
               {% for course in course_list %}
                  {% if course.writer == user %}
                    <a href="{% url 'courseapp:detail' pk=course.pk %}">
                      <!--        프로젝트 게시물 card include-->
                      {% include 'snippets/card.html' with course=course %}
                    </a>
                 <hr>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

    {% elif user.profile.get_personnel_display == '학부생' %}
      <div style="text-align: center">
        <a href="{% url 'courseapp:signup' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
          Signup course
        </a>
      </div>


        {% if join_list %}
            <div class="container">
               {% for join in join_list %}
                    {% if user == join.user %}
                        <a href="{% url 'courseapp:detail' pk=join.course.pk %}">
                            {% include 'snippets/card.html' with course=join.course %}
                        </a>
                    {% endif %}
                 {% endfor%}
            </div>
         {% endif %}
    {% endif %}
     <script src="{% static 'js/magicgrid.js' %}"></script>
{% endblock %}