{% extends 'base.html' %}
{% load static %}

{% block content %}

 <div style="text-align:center; max-width:500px; margin: 1.5rem auto">
        <h2>
            수강신청
        </h2>
    </div>
 <hr>

    {% if course_list %}
            <div class="container">
               {% for course in course_list %}
                    <a href="{% url 'courseapp:detail' pk=course.pk %}">
                      {% include 'snippets/card.html' with course=course %}
                    </a>
              {% endfor %}
            </div>
         {% endif %}

{% endblock %}