<!-- pagination -->
{% load bootstrap4 %}

<div class="pagenation">
    {% if post_list.number != 1 %}
    <a href="{{ request.path }}?course_pk={{ target_course.pk }}&page=1" class="page_button yellow w-inline-block">
{#        <a href="{{ request.path }}?course_pk={{ target_course.pk }}&page=1">#}
      <div class="text-block-16">&lt;</div>
{#        <div class="active"></div>#}
    </a>
    {% endif %}
    {% if 1 <= post_list.number|add:-2 %}
    <a href="{{ request.path }}?course_pk={{ target_course.pk }}&page={{post_list.previous_page_number|add:-1 }}" class="page_button yellow w-inline-block">
      <div class="text-block-16">{{post_list.previous_page_number|add:-1 }}</div>
    </a>
    {% endif %}
    {% if post_list.has_previous %}
{#        이전 버튼.. 인가본데#}
    <a href="{{ request.path }}?course_pk={{ target_course.pk }}&page={{post_list.previous_page_number }}" class="page_button yellow w-inline-block">
      <div class="text-block-16">{{post_list.previous_page_number }}</div>
    </a>
    {% endif %}
    <a href="{{ request.path }}?course_pk={{ target_course.pk }}&page={{post_list.number}}" class="page_button yellow w-inline-block">
      <div class="text-block-16">{{post_list.number}}</div>
    </a>
    {% if post_list.has_next %}
    <a href="{{ request.path }}?course_pk={{ target_course.pk }}&page={{post_list.next_page_number }}" class="page_button yellow w-inline-block">
      <div class="text-block-16">{{post_list.next_page_number }}</div>
    </a>
    {% endif %}
    {% if post_list.paginator.num_pages >= post_list.number|add:+2 %}
    <a href="{{ request.path }}?course_pk={{ target_course.pk }}&page={{post_list.next_page_number|add:+1 }}" class="page_button yellow w-inline-block">
      <div class="text-block-16">{{post_list.next_page_number|add:+1 }}</div>
    </a>
    {% endif %}
    {% if post_list.number != post_list.paginator.num_pages %}
    <a href="{{ request.path }}?course_pk={{ target_course.pk }}&page={{post_list.paginator.num_pages}}" class="page_button yellow w-inline-block">
      <div class="text-block-16">></div>
    </a>
    {% endif %}
</div>

{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-lg-6 offset-lg-3 py-5 border">#}
{#            <ul class="pagination mx-auto">#}
{#                <li class="page-item disabled">#}
{#                    <a class="page-link" href="#" aria-label="Previous">#}
{#                        <span aria-hidden="true">«</span>#}
{#                        <span class="sr-only">Previous</span>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="page-item active">#}
{#                    <a class="page-link" href="#">1</a>#}
{#                </li>#}
{#                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">4</a></li>#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="#" aria-label="Next">#}
{#                        <span aria-hidden="true">»</span>#}
{#                        <span class="sr-only">Next</span>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}



<!--        &lt;!&ndash; Pagination &ndash;&gt;-->
<!--        <div style="text-align:center">-->
<!--            <div class="pagination">-->

<!--                <div style="width:35%; margin: 5px;">-->
<!--                {% if post_list.has_previous %}-->
<!--                    <a class="abutton" href="{{ request.path }}?page=1">맨 앞으로</a>-->
<!--                    <a class="abutton" href="{{ request.path }}?page={{ post_list.previous_page_number }}">이전</a>-->
<!--                {% endif %}-->
<!--                </div>-->

<!--                <div style="width:30%; margin: 5px;">-->
<!--                {% for page in post_list.paginator.page_range %}-->
<!--                    {% if page >= post_list.number|add:-2 and page <= post_list.number|add:2 %}-->
<!--                    <span class="{% if page == post_list.number %}current{% endif %}">-->
<!--                        <a href="{{ request.path }}?page={{ page }}">{{ page}}</a>-->
<!--                    </span>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--                </div>-->

<!--                <div style="width:35%; margin: 5px;">-->
<!--                {% if post_list.has_next %}-->
<!--                    <a class="abutton" href="{{ request.path }}?page={{ post_list.next_page_number }}">다음</a>-->
<!--                    <a class="abutton" href="{{ request.path }}?page={{ post_list.paginator.num_pages }}">맨 뒤로</a>-->
<!--                {% endif %}-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
